<body>
    <footer class="pie">
        <nav class="footer-contacto">
            <ul>
                <li class="footer-titulo">CONTACTO</li>
                <li><a href="https://www.gmail.com">email@bookmania.com</a></li>
                <br>
                <li>Copyright © 2021 BOOKMANÍA. Todos los derechos reservados</li>
            </ul>
        </nav>
        <nav class="footer-legales">
            <ul>
                <li class="footer-titulo">PÁGINAS LEGALES</li>
                <li><a href="#">Aviso de privacidad</a></li>
                <li><a href="#">Protección de datos</a></li>
                <li><a href="#">Condiciones de compra</a></li>
                <li><a href="#">Politica de cookies</a></li>
            </ul>
        </nav>
        <nav class="footer-redes">
            <a href="https://www.facebook.com"><img src="./images/facebook.png"></a>
            <a href="https://www.twitter.com"><img src="./images/twitter.png"></a>
            <a href="https://www.instagram.com"><img src="./images/instagram.png"></a>
        </nav><br>
    </footer>
</body>