<body>
    <div class="header">
        <h2 class="logo">
          <img class="logoimg" src="/images/image0.png" alt="">
        </h2>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
          <i class="fas fa-ellipsis-h"></i>
        </label>
    
        <ul class="menu">
          <a href="/" class="btn-inicio">Inicio</a>
          <div class="dropdown">
                <a href="#" class="btn-cat dropbtn"> Categoría</a>
                <div class="dropdown-content">
                    <a href="/cat_arte"> Arte y Religión</a>
                    <a href="#"> Ciencia y Ficción</a>
                    <a href="#"> Deportes</a>
                    <a href="#"> Derecho y Economía</a>
                    <a href="#"> Enseñanza Inglés</a>
                    <a href="#"> Infantil</a>
                    <a href="#"> Informática e Ingeniería</a>
                    <a href="#">Medicina y Psicología</a>
                </div>
            </div>    
          <a href="#" class="btn-sbn">Sobre Nosotros</a>
          <a href="#" class="btn-cont">Contacto</a>
          <div class="dropdown">
            <a href="#" class="btn-cuenta dropbtn"><i class="fas fa-caret-down"></i> Mi cuenta</a>
            <div class="dropdown-content">
              <a href="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
              <a href="/registro"><i class="fas fa-user-plus"></i> Regístrate</a>
            </div>
          </div>
          <a href="/carrito">
            <img class="imagen" src="images/car.png" width="50" height="50" alt="Cart">
          </a>
          <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
          </label>
        </ul>
      </div>
      <div class="pleca-colores"></div>
</body>
