<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bookmania 2021</title>
        <link rel="stylesheet" href="/css/headerstyles.css" />
        <link rel="stylesheet" href="/css/productostyles.css" />
        <link rel="stylesheet" href="/css/register.css" />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/carritostyles.css" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <script defer src="index.js"></script>
    </head>
<body>
    <div class="header">
        <h2 class="logo">
            <img class="logoimg" src="/images/image0.png" alt="">
        </h2>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
          <i class="fas fa-ellipsis-h"></i>
        </label>
    
        <ul class="menu">
          <a href="#" class="btn-inicio">Inicio</a>
          <a href="#" class="btn-cat">Categoría</a>
          <a href="#" class="btn-sbn">Sobre Nostros</a>
          <a href="#" class="btn-cont">Contacto</a>
          <div class="dropdown">
            <a href="#" class="btn-cuenta dropbtn"><i class="fas fa-caret-down"></i> Mi cuenta</a>
            <div class="dropdown-content">
                <a href="#"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
                <a href="#"><i class="fas fa-user-plus"></i> Regístrate</a>
              </div>
          </div>
          <a href="#">
              <img class="imagen" src="/images/car.png" width="50" height="50" alt="Cart">
          </a>
          <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
          </label>
        </ul>
      </div>

      <div class="pleca-colores"></div>

    <div class="wrapper_carrito">
       <div class="titulo_carrito">
           Mi carrito
        </div><br>

        <div class="barra_titulo_articulo">
            <div class="titulo_articulo">ARTÍCULO</div>
            <div class="precio_unit">PRECIO UNIT.</div>
            <div class="cantidad">CANTIDAD</div>
            <div class="subtotal">SUBTOTAL</div>
        </div>
        <div class="articulo">
            <div class="articulo_libro"><img src="/images/book.jpg" width="70px" height="100px"></div>
            <div class="articulo_libro_nombre"><h2>A Million To One</h2><h3>Tony Faggioli</h3> </div>
            <div class="articulo_precio">$275.00</div>
            <div class="articulo_cantidad"><input type="button"><i class="far fa-caret-square-up"></i> &nbsp; 2 &nbsp; <i class="far fa-caret-square-down"></i></i>
                &nbsp; &nbsp;<i class="fas fa-trash-alt"></i><br><br></div>
            <div class="articulo_subtotal">$550.00</div>
        </div>
        <div id="total_barra">
            <div id="total_1">Total</div>
            <div id="total_2">$550.00</div>
        </div>
        
        <button class="glow-on-hover" type="button">¡Realizar compra!</button><br><br><br>
    </div>
    






        <footer class="pie">
        <nav class="footer-contacto">
            <ul>
                <li class="footer-titulo">CONTACTO</li>
                <li><a href="https://www.gmail.com">email@bookmania.com</a></li>
                <br>
                <li>Copyright © 2021 BOOKMANÍA. Todos los derechos reservados</li>
            </ul>
        </nav>
        <nav class="footer-legales">
            <ul>
                <li class="footer-titulo">PÁGINAS LEGALES</li>
                <li><a href="#">Aviso de privacidad</a></li>
                <li><a href="#">Protección de datos</a></li>
                <li><a href="#">Condiciones de compra</a></li>
                <li><a href="#">Politica de cookies</a></li>
            </ul>
        </nav>
        <nav class="footer-redes">
            <a href="https://www.facebook.com"><img src="./images/facebook.png"></a>
            <a href="https://www.twitter.com"><img src="./images/twitter.png"></a>
            <a href="https://www.instagram.com"><img src="./images/instagram.png"></a>
        </nav><br>   
    </footer>

</body>
</html>