<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmania 2021</title>
    <link rel="stylesheet" href="/public/css/headerstyles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>

    <div class="cabecera">
        <a href="./home.html">
            <img src="/public/images/image0.png" width="300" height="94" alt="Logo Bookmania">
        </a>
        <div class="flexsearch">
            <div class="flexsearch--wrapper">
                <form class="flexsearch--form" action="#" method="post">
                    <div class="flexsearch--input-wrapper">
                        <input class="flexsearch--input" type="search" placeholder="¿Qué estás buscando?">
                    </div>
                    <input class="flexsearch--submit" type="submit" value="&#10140;" />
                </form>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Mi cuenta <i
                    class="fas fa-caret-square-down"></i></button>
            <div class="dropdown-content">
                <a href="#"><i class="fas fa-sign-in-alt"></i> Inicia Sesión</a>
                <a href="#"><i class="fas fa-user-plus"></i> Registrate</a>
            </div>
        </div>
        <div class="cart">
            <img src="/public/images/car.png" width="112" height="112" alt="Carrito">
        </div>
    </div>

    <div class="goto">
        <div class="cont">
            <a href="#">INICIO</a>
        </div>
        <div class="cont">
            <a href="#">CATEGORÍA <i class="fas fa-caret-square-down"></i></a>
        </div>
        <div class="cont">
            <a href="#">SOBRE NOSOTROS</a>
        </div class="cont">
        <div class="cont">
            <a href="#">CONTÁCTANOS</a>
        </div class="cont">
        <div>
            <a href="#">FAVORITOS</a>
        </div>
    </div>

</body>

</html>