<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookmania 2021</title>
    <link rel="stylesheet" href="/css/headerstyles.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script defer src="index.js"></script>
</head>

<body>

    <div class="header">
        <h2 class="logo">
            <img class="logoimg" src="/images/image0.png" alt="">
        </h2>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
          <i class="fas fa-ellipsis-h"></i>
        </label>
    
        <ul class="menu">
          <a href="#" class="btn-inicio">Inicio</a>
          <a href="#" class="btn-cat">Categoría</a>
          <a href="#" class="btn-sbn">Sobre Nostros</a>
          <a href="#" class="btn-cont">Contacto</a>
          <div class="dropdown">
            <a href="#" class="btn-cuenta dropbtn"><i class="fas fa-caret-down"></i> Mi cuenta</a>
            <div class="dropdown-content">
                <a href="#"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
                <a href="#"><i class="fas fa-user-plus"></i> Regístrate</a>
              </div>
          </div>
          <a href="#">
              <img class="imagen" src="/images/car.png" width="50" height="50" alt="Cart">
          </a>
          <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
          </label>
        </ul>
      </div>

</body>

</html>