*{
	margin: 0px;
    box-sizing: border-box;
}

header{
	height: 100px;
	background: #fff;
	padding: 0 20px;
	color: #fff;
}

.pleca-colores {
	height: 15px;
	background-image: url(https://www.cliento.mx/hubfs/ih-sitio/home/cursos-de-ingles-ih-pleca-footer.jpg);
	background-repeat: repeat;
	background-size: contain;
	background-position: left center;
  }

.logo{
	line-height: 50px;
	float: center;
	text-transform: uppercase;
}

.logo-bookmania { 
    width: 300px;
	height: 80px; 
	line-height: 100px;
   float: left;
   text-transform: uppercase  
}


.menu{
	line-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
} 

.menu a{
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.4s;
	line-height: 35px;
	padding: 11px 18px;
	position: relative;
	opacity: .999;
	font-family: inherit;
	border-radius: 5px;
	margin: 5px;
	color: #fff;
}
  
.menu .btn-inicio{
	background: rgba(93,22,235,0.7);
}
  
.menu .btn-cat{
	background: rgba(195,150,97,0.7);
}
  
.menu .btn-sbn{
	background: rgba(204,104,232,0.7);
}
.menu .btn-cont{
	background: rgba(93,22,235,0.7);
}
  
.menu .btn-cuenta{
	background: rgba(1,153,161,0.7);
}

.show-menu-btn,.hide-menu-btn{
	transition: 0.4s;
	font-size: 20px;
	cursor: pointer;
	display: none;
}
.show-menu-btn{
	float: right;
}
.show-menu-btn i{
	line-height: 100px;
	color: black;
}
.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover{
	color: #000;
}
#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.content{
	padding: 0 20px;
}
.content img{
	width: 100%;
	max-width: 700px;
	margin: 20px 0;
}
.content p{
	text-align: justify;
}


.titulo{
    margin-top:20px;
    display: flex;
    justify-content: center;
}

.control{
	width: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	margin-top: 10px;
}

.productos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.product{
    padding: 0 15px;
    position: relative;
    margin: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product:hover h2{
    opacity: 1;
    border-radius: 20px;
}

.product img{
    width: 300px;
    border-radius: 5px;   
}

.envio-gratis{
    color: rgb(45, 162, 45);
}

.product h2{
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
    
}

button{
    width: 90px;
	font-size: 18px;
	border-radius: 5px;
	font-family: 'Times New Roman';
    background-color: rgb(214, 214, 247);
    color: black;
}

footer{
	background-color: rgba(210, 205, 205,0.8);
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.footer-titulo{
    color: rgb(86, 145, 233);
}

.footer-contacto, .footer-legales, ul{
	list-style: none;
}

.footer-contacto a{
	text-decoration: none;
	color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

a:hover, .footer-legales a:hover{
	color: teal;
}

.footer-legales a{
	text-decoration: none;
	color: #222222;
    display: inline-block;
    font-size: 15px;
}

.footer-redes{
    display: flex;
    align-items: flex-end;
}

.footer-redes img{
	width: 30px;
	height: 30px;
}

.footer-titulo{
	text-decoration: solid;
}

@media screen and (max-width:800px) {
	.show-menu-btn,.hide-menu-btn{
	  display: block;
	}
	.menu{
	  position: fixed;
	  width: 100%;
	  height: 80vh;
	  background: #333;
	  right: -100%;
	  top: 0;
	  text-align: center;
	  padding: 10px 0;
	  line-height: normal;
	  transition: 0.7s;
  
	  display: flex;
	  flex-direction: column;
	}
	.menu a{
	  display: block;
	  padding: 20px;
	}
	.hide-menu-btn{
	  position: absolute;
	  top: 40px;
	  right: 40px;
	}
	#chk:checked ~ .menu{
	  right: 0;
	}
  }

@media only screen and (max-width: 600px)  {
	.header .main .logo .logo-bookmania .column1 .form .pie .footer-contacto{
	  width: 200px;
	  height: 62px;
	} 
    .column1{
        display: center;
        justify-content: center;
        text-align: center;
    }
	.column2{
		display: none;
	}
	.pie, .footer-titulo, .footer-legales a{
		font-size: 10px;
	}
    .footer-redes{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .footer-redes img{
        width: 15px;
        height: 15px;
    }
    
}

/* Style The Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 250px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	text-transform: unset;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}  