footer{
	background-color: rgba(210, 205, 205,0.8);
	display: flex;
	justify-content: space-between;
	padding: 10px;
    width: 100%;
}

.footer-contacto, .footer-legales, ul{
	list-style: none;
}

.footer-contacto a{
	text-decoration: none;
	color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

a:hover, .footer-legales a:hover{
	color: teal;
}

.footer-legales a{
	text-decoration: none;
	color: #222222;
    display: inline-block;
    font-size: 15px;
}

.footer-redes{
    display: flex;
    align-items: flex-end;
}

.footer-redes img{
	width: 30px;
	height: 30px;
}

.footer-titulo{
	text-decoration: solid;
}
