*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header{
  height: 100px;
  background: #fff;
  padding: 0 20px;
  color: #fff;
}

.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}


.menu{
  float: right;
  line-height: 100px;

  display: flex;
  align-items: center;
}

.menu a{
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
  line-height: 35px;
  padding: 11px 18px;
  position: relative;
  opacity: .999;
  font-family: inherit;
  border-radius: 5px;
  margin: 5px;
  color: #fff;
}

.menu .btn-inicio{
  background: rgba(93,22,235,0.7);
}

.menu .btn-cat{
  background: rgba(195,150,97,0.7);
}

.menu .btn-sbn{
  background: rgba(204,104,232,0.7);
}

.menu .btn-cont{
  background: rgba(93,22,235,0.7);
}

.menu .btn-cuenta{
  background: rgba(1,153,161,0.7);
}



.show-menu-btn,.hide-menu-btn{
  transition: 0.9s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
  color: black;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #000;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;

    display: flex;
    flex-direction: column;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  #chk:checked ~ .slides {
    display: none;
  }
  #main .card{
    display: none;
  }
}


@media only screen and (max-width: 600px)  {
  .header .logo img{
    margin-top: 15px;
    width: 200px;
    height: 62px;
    display: inline;
  }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: unset;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.pleca-colores {
  height: 15px;
  background-image: url(https://www.cliento.mx/hubfs/ih-sitio/home/cursos-de-ingles-ih-pleca-footer.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: left center;
}


/* FIN DEL CSS DEL HEADER */

nav {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
}
nav h1 {
  font-size: 28px;
  font-family: Georgia;
  color: #4d4d4d;
}
.property {
  width: 900px;
  margin: auto;
}
.property-details {
  font-size: 21px;
  font-family: sans-serif;
}
.property-options {
  border: 1px solid #e6e6e6;
  padding: 20px;
  margin: 20px 0;
}

.slideshow {
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}
.slideshow-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.slideshow-item img {
  display: block;
  margin: auto;
}
.arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  background: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%206%2016%22%20width%3D%226%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.8%22%20opacity%3D%22.3%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22square%22%2F%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.5%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22square%22%2F%3E%3C%2Fsvg%3E%0A') no-repeat center/30px;
}
.arrow-next {
  right: 0;
  transform: rotate(180deg);
}
.progress {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ccc;
  font-family: sans-serif;
}
.play {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px;
  margin-bottom: 20px;
  padding: 8px 16px;
  background: linear-gradient(white, #e6e6e6);
  font-family: sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 4px;
  color: #333;
  border: 1px solid #1a1a1a;
  opacity: 0.3;
  z-index: 5;
  cursor: default;
  transition: all 750ms ease;
}
[id^="target"]:target ~ .play {
  transition: all 750ms ease;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
}
[id^="target"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
}
*:target ~ .item-1 {
  opacity: 0;
}
#target-1:target ~ .item-1 {
  opacity: 1;
}
#target-2:target ~ .item-2{
  z-index: 3;
  opacity: 1;
}
.item-1 {
  animation: slideshow 16s ease 0s infinite;
}
.item-2 {
  animation: slideshow 16s ease 4s infinite;
}

#target-1:target ~ .item-1 {
  opacity: 1 !important;
  animation: none;
}
#target-1:target ~ .item-2, #target-1:target ~ .item-3, #target-1:target ~ .item-4 {
  opacity: 0;
  animation: none;
}
#target-2:target ~ .item-2 {
  opacity: 1 !important;
  animation: none;
}
#target-2:target ~ .item-1, #target-2:target ~ .item-3, #target-2:target ~ .item-4 {
  opacity: 0;
  animation: none;
}

@keyframes slideshow {
  0%, 30%, 100% {
    opacity: 0;
 }
  5%, 25% {
    opacity: 1;
 }
}


@media only screen and (max-width: 600px)  {
  .slideshow .item-1 .img1{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://drive.google.com/file/d/1Q0m8CPiAckINwYHoWgUVtuySBsuNBg2A/view) no-repeat;
    width: 640px; /* Width of new image */
    height: 620px; /* Height of new image */
  }
}









/* ----------------------------------- */
img {
  max-width: 100%;
}
#main {
  padding: 5em 1em;
  height: 81vh;
}
#main .card {
  position: relative;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  color: #333;

  box-shadow: 0px 3px 10px #000;
}

#main .card:hover{
    transform: scale(1.02);
    z-index: 2;
    box-shadow: 0.125em 0.25em 0.325em rgba(0, 0, 0, .2);
}
@media (min-width: 600px) {
  #main .card {
    max-width: 400px;
    padding-right: 1em;
    padding-left: 1em;
 }
}
#main .card .book-info {
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  background: #fff;
}
@media (min-width: 600px) {
  #main .card .book-info {
    display: inline-block;
    width: calc(400px - 50%);
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
 }
}
#main .card .title {
  margin-bottom: 0.125em;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
}
#main .card .byline, #main .card .rating {
  color: #666;
  font-size: 0.825em;
  line-height: 1.4;
}
#main .card .byline {
  margin-bottom: 0.5em;
}
#main .card .rating {
  margin-top: 1em;
  margin-bottom: 1em;
}
#main .card .rating .stars {
  display: inline-block;
  height: 20px;
  width: 96px;
  margin-right: 0.625em;
  background-image: url('http://ui-cloud.com/res/designmoo/Rating_stars_2/previews/rating_stars.png');
  background-position: -154px -207px;
  vertical-align: top;
}
#main .card .about {
  position: relative;
  max-width: 75ch;
  max-height: 12ch;
  font-size: 0.975em;
  line-height: 1.4;
  overflow: hidden;
}

#main .card .image {
  background: cyan;
  border: 0;
}

#main .card .image.cover {
  position: relative;
  z-index: 1;
  display: block;
  height: 225px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0.25em 0.35em 1em rgba(0, 0, 0, .6);
}
@media (min-width: 600px) {
  #main .card .image.cover {
    display: inline-block;
    margin-top: -2em;
    margin-right: 0.825em;
    vertical-align: top;
 }
}
#main .card .image.person {
  height: 25px;
  width: 25px;
  margin-right: 0.25em;
  border-radius: 50%;
  vertical-align: middle;
}

@media (min-width: 600px) {
#main .card .image-container {
  position: relative;
}}

#main{
  display: flex;
  flex-wrap: wrap;
}


/*EMPIEZA MIS CATEGORÍAS*/

.section-wrapper {
  background-color: #F3F6FA;;
  z-index: 10;
}

.categories-header>h1 {
  position: relative;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: capitalize;
  font-family: Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  font-size: 3em;
  font-weight: bolder;
  color: #5F5F5F;
}

.rows {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 15px;
  box-sizing: border-box;
}

.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}


.category-container {
  flex-basis: 25%;
}

.col {
  background-clip: content-box;
}

.category-menu {
  height:  17em;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  border-radius: 10%;
}

#menu1{
  background-image: url(https://image.flaticon.com/icons/png/512/2904/2904727.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#menu2 {
  background-image: url(https://image.flaticon.com/icons/png/512/2446/2446822.png);
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center center;
}

#menu3 {
  background-image: url(https://image.flaticon.com/icons/png/512/4072/4072217.png);
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center center;
}

#menu4 {
  background-image: url(https://image.flaticon.com/icons/png/512/4363/4363651.png);
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center center;
}

.category-label{
  position: relative;
  display: block;
  padding-top: 2%;
  height: 15%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  border-top-left-radius: 1.8em;
  border-top-right-radius: 1.8em;
}

.sub-category {
  position: relative;
  display: none;
  width: 100%;
  height: 85%;
  border-bottom-left-radius: 1.8em;
  border-bottom-right-radius: 1.8em;
  list-style-type: none;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

.category-menu:hover .sub-category{
  display: block;
}

.sub-category li > a {
  text-decoration: none;
}

.category-menu .sub-category li:hover {
  width: 100%;
}

.categories{
  margin-left: 15px;
  margin-right: 15px;
}


@media (max-width: 1100x) {
  .banner-main:before {
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: 1100px) {
  .banner-main {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@media (max-width: 1100px) {
  .banner {
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: 1100px) {
  .banner > h2 {
  font-size: 2.2em;
  line-height: 150%;
  }
}

/** 768px screens**/
@media (max-width: 768px) {
  .banner-main:before {
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: 768px) {
  .banner-main {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    word-wrap: word-break;
    margin-top: -1em;
  }
}

@media (max-width: 768px), (max-height: 500px) {
  .banner > h2 {
  font-size: 2em;
  line-height: 70%;
  }
}


@media all and (max-width: 768px) {
  .category-container {
    flex-basis: 50%;
    word-wrap: break-word;
  }

}

@media all and (max-width: 480px) {
  .category-container {
    flex-basis: 100%;
    word-wrap: break-word;
  }

}

@media screen and (max-width: 736px) {
.icon {
  font-size: 1em;
  }
}


footer{
	background-color: rgba(210, 205, 205,0.8);
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.footer-contacto, .footer-legales, ul{
	list-style: none;
}

.footer-contacto a{
	text-decoration: none;
	color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

a:hover, .footer-legales a:hover{
	color: teal;
}

.footer-legales a{
	text-decoration: none;
	color: #222222;
    display: inline-block;
    font-size: 15px;
}

.footer-redes{
    display: flex;
    align-items: flex-end;
}

.footer-redes img{
	width: 30px;
	height: 30px;
}

.footer-titulo{
	text-decoration: solid;
}
