
.columnas{
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-self: center;
}


.column1{
    justify-content: center;
    padding: 20px; 
    flex: 50%;
	margin: 20px;
}
.column2{
    display: flex;
    flex: 50%;
    flex-direction: column;
	align-items: center;
    justify-content: flex-end;
    padding: 20px; 
	margin: 10px 8px 0px 8px;
}
.register, .footer-titulo{
    color: rgb(86, 145, 233);
}
.register{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.texto1{
    text-align: center;
    margin: 20px 0px 40px 0px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0,0.7);
	padding: 20px;
	border-radius: 8px;
}
form label{
	font-size: 20px;
}

form form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.control{
	width: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	margin-top: 10px;
}

.column2 img{
	width: 400px;
}

.enviar{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.enviar button{
	width: auto;
	padding: 8px;
	font-size: 22px;
	border-radius: 3px;
	border: none;
	font-family: 'Times New Roman';
	color: rgb(14, 108, 165);
}

#ligaContraseña{
    color: rgb(48, 90, 116);
    font-family:'Times New Roman';
    font-size: 18px;
}


@media only screen and (max-width: 600px)  {
	.header .main .logo .logo-bookmania .column1 .form .pie .footer-contacto{
	  width: 200px;
	  height: 62px;
	} 
    .column1{
        display: center;
        justify-content: center;
        text-align: center;
    }
	.column2{
		display: none;
	}
	.pie, .footer-titulo, .footer-legales a{
		font-size: 10px;
	}
    .footer-redes{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .footer-redes img{
        width: 15px;
        height: 15px;
    }
    
}
