.wrapper { 
    overflow:hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    min-height: 60vh;
  }
  
  .wrapper div {
     min-height: 100px;
     padding: 10px;
  }
  #libro {
    float:left; 
    margin-right:20px;
    width: 260px;
    height: 370px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #descripcion { 
    overflow:hidden;
    margin:10px;
    width: 320px;
    height: 390px;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height:170px;
    text-align: left;
    margin-left: 0px;
  }
  #resena{
    margin:10px;
    width: 620px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-right:2px dashed #ccc;
    min-height:170px;
    text-align: left;
    margin-left: 0px;
    background-color:lightcyan;
  }
  

.header{
    height: 120px;
}

.pleca-colores {
    height: 15px;
    background-image: url(https://www.cliento.mx/hubfs/ih-sitio/home/cursos-de-ingles-ih-pleca-footer.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left center;
  }

.footer{
    background-color: peru;
    border: 3px solid black;
    height: 100px;
}

body{
    margin: 0;
}

#precio{
    color: orchid;
    font-weight: bold;
    font-size: 32px;
}

#cantidad{
    font-weight: bold;
    font-size: medium;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.img-with-text {
    text-align: justify;
    width: 400px;
    margin: 0;
    text-align: left;
    display: inline;
}

.img-with-text img {
    display: inline;
    margin: 0 auto;
}

  
@media screen and (max-width: 200px) {
     #libro { 
      float: none;
      margin-right:0;
      margin-left: 0;
      width:auto;
      border:0; 
      flex-grow: 1;
      text-align: left;
    }
}
@media screen and (max-width: 200px) {
    #resena{
        float: none;
        margin-right:0;
        margin-left: 0;
        width:auto;
        border:0; 
        display: inline-block; 
        flex-direction: column;
        flex-grow: 2;
    }
}
@media screen and (max-width: 200px) {
    #descripcion { 
     float: none;
     margin-left: 0;
     flex-direction: column;
     flex-grow: 3;
     display: inline-block;
   }

}