
.columnas_reg{
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-self: center;
}
.column1_reg{
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.column1_reg img{
	width: 500px;
	height: 400px;
}

.column2_reg{
	justify-content: center;
    padding: 20px; 
    flex: 50%;
	margin: 10px 8px 0px 8px;
}

.register, .footer-titulo{
    color: rgb(86, 145, 233);
	
}
.register{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.texto1{
    text-align: center;
    margin: 40px 0px 50px 0px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0,0.7);
	padding: 20px;
	border-radius: 8px;
}
form label{
	font-size: 20px;
}

form form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.control{
	width: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	margin-top: 10px;
}

.boton-capt{
	display: flex;
	justify-content: center;
}

.captcha {
    display:flex;
	background-color:#f9f9f9;
	border:2px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
	flex-direction: row;
	justify-content: center;
	align-items:center;
    width: 40%;
    margin-top: 40px;
}

.text-capt {
	font-size:15px;
	font-weight:60;
	text-align: center;
	margin-right:1em;
}

.logo-capt {
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	align-self:flex-end;
	margin:0.5em 1em;
}

.logo-capt img {
	width:10%;
	height: 2em;
}

.logo-capt p {
	color:#9d9ba7;
	margin:0;
	font-size:0.7em;
	font-weight:200;
	margin:.4em 0 .2em 0;
}

.logo-capt small {
	color:#9d9ba7;
	margin:0;
	font-size:.7em;
}

.spinner {
	position:relative;
	width:0.2em;
	height:0.2em;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}

.enviar{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.enviar button{
	width: auto;
	padding: 8px;
	font-size: 22px;
	border-radius: 3px;
	border: none;
	font-family: 'Times New Roman';
	color: rgb(14, 108, 165);
}

.terminos-check{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
    text-align: justify;
    margin-top: 50px;
}
.term{
	font-size: 15px;
}



@media only screen and (max-width: 600px)  {
	.header .main .logo .logo-bookmania .column2 .form .boton-capt .spinner{
	  width: 200px;
	  height: 62px;
	} 
	.column1{
		display: none;
	}
	.column2{
        display: center;
        justify-content: center;
        text-align: center;
    }
	.pie{
		font-size: 10px;
	}
	.footer-redes{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
	.footer-redes img{
		width: 20px;
		height: 20px;
	}
    
}

