<!DOCTYPE html>
<html lang="en">
    <head><Title>Iniciar sesión</Title></head>
    <%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
    
    <main>
        <div class="columnas">
            <div class="column1">
                <div class="register"><h1>Inicia sesión</h1> </div>
                <h4 class="texto1">Clientes registrados</h4>
                <h4 class="texto1">Si ya tienes una cuenta con nosotros, por favor inicia sesión.</h4>
                <p>*Campos requeridos</p><br><br>

                <form action="" method="POST">
                    <label for="email">*Correo electrónico:
                        <input type="email" name="email" id="email" class="control" required>
                    </label><br><br>
                    <label for="password">*Contraseña:
                        <input type="password" name="password" id="password" class="control" required>
                    </label><br><br>
                    <label for="term1">
                        <input type="checkbox" name="term1" id="term1">
                        Recordarme contraseña
                    </label>

                    <div class="enviar">
                        <button type="submit">Iniciar sesión</button><br>
                        <a href="https://www.google.com" id="ligaContraseña">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>

            <div class="column2">
                <img src="./images/frase.gif">
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>