<!DOCTYPE html>
<html lang="en">
    <head><Title>Carrito</Title></head>
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
    <div class="wrapper_carrito">
        <div class="titulo_carrito">
            Mi carrito
         </div><br>
 
         <div class="barra_titulo_articulo">
             <div class="titulo_articulo">ARTÍCULO</div>
             <div class="precio_unit">PRECIO UNIT.</div>
             <div class="cantidad">CANTIDAD</div>
             <div class="subtotal">SUBTOTAL</div>
         </div>
         <div class="articulo">
             <div class="articulo_libro"><img src="/images/book.jpg" width="70px" height="100px"></div>
             <div class="articulo_libro_nombre"><h2>A Million To One</h2><h3>Tony Faggioli</h3> </div>
             <div class="articulo_precio">$275.00</div>
             <div class="articulo_cantidad"><input type="button"><i class="far fa-caret-square-up"></i> &nbsp; 2 &nbsp; <i class="far fa-caret-square-down"></i></i>
                 &nbsp; &nbsp;<i class="fas fa-trash-alt"></i><br><br></div>
             <div class="articulo_subtotal">$550.00</div>
         </div>
         <div id="total_barra">
             <div id="total_1">Total</div>
             <div id="total_2">$550.00</div>
         </div>
         
         <button class="glow-on-hover" type="button">¡Realizar compra!</button><br><br><br>
     </div>
     <%- include('../partials/footer') %>

</body>
</html>