<!DOCTYPE html>
<html lang="en">
    <head><Title>Arte y Religión</Title></head>
    <%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="productos">
            <article class="product" onclick="window.location='/producto'"> 
                <img  src="/images/bryony.png">
                <h2>GUIA COMPLETA DEL DISEÑO GRÁFICO</h2>
                <p>Autor: Bryony Gómez Palacio</p>
                <h4>$591</h4>
                <p class="envio-gratis">Envío Gratis</p><br>
                <button type="submit">Agregar a carrito</button>
            </article>
            <article class="product" onclick="window.location='/producto'">
                <img src="/images/siglo.png">
                <h2>ESTÉTICA DEL SIGLO XIX</h2>
                <p>Autor: Francisco Campillo</p>
                <h4>$308</h4>
                <p class="envio-gratis">Envío Gratis</p><br>
                <button type="submit">Agregar a carrito</button>
            </article>
            <article class="product" onclick="window.location='/producto'">
                <img src="/images/cristiano.png">
                <h2>UN CRISTIANO EN LA SENDA DE BUDA</h2>
                <p>Autor: Jacques Scheuer</p>
                <h4>$731</h4>
                <p class="envio-gratis">Envío Gratis</p><br>
                <button type="submit">Agregar a carrito</button>
            </article>
            <article class="product" onclick="window.location='/producto'">
                <img src="/images/simbolo.png">
                <h2>EL SIMBOLO SAGRADO</h2>
                <p>Autor: Julien Ries</p>
                <h4>$403</h4>
                <p class="envio-gratis">Envío Gratis</p><br>
                <button type="submit">Agregar a carrito</button>
            </article>
        </div>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>